#map {
  width: 500px;
  height:500px;
  background: #a1a1a1;
}

.tweet-text { margin-right: 5px; color: #b2b2b2; }
.tweet-date { margin-right: 5px; color: #b2b2b2; }
.tweet-track { margin-right: 5px; color: #b2b2b2;}
.tweet-coordinates { margin-right: 5px; color: #b2b2b2; }
.tweet-sentiment {display: none;}

.tweet-face {
  background: #ffdc86;
  border-radius: 50%;
  border: 1px solid #ffbe20;
  transition: all 300ms ease-out;
  background-image: url("/faces/demo.png");
  background-size:80%;
  background-repeat: no-repeat;
  background-position: center;
}
.sm-bot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sm-dimensions {
  display: flex;
  font-size: 10px;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.sm-d {
  height: 30px;
  width:  30px;
  border-radius: 50%;
  background: #ffdc86;
  border: 1px solid #ffbe20;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  6px;
  padding: 3px;
}

.sm-d img {
  width: 21px;
}

.sm-e {
  height: 30px;
  width:  30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.sm-t {
  font-weight: 300;
  text-align: right;
}

.sentimentmap-legend {
  cursor: default;
  display: flex;
}
