.cr-element {
  width: 100px;
  height: 100px;
  position: relative;
  transition: all 300ms ease-out;
  margin-left: 20px;
  border-left: 1px solid #a8a8a8;
}

.cr-element2 span {
  font-size: 12px;
  text-align: right;
  color: #757575;
}

.cr-element2 {
  width: 100%;
  height: 40px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.cr-lifequality {
  width: 400px;
  height: 400px;
  position: relative;
  transition: all 300ms ease-out;
  margin-left: 30px;
}

.cityrow-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  cursor: default;
}

.cr-elements-container {
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
  width: 100%;
}

.cr-title {
  font-size: 35px;
  font-weight: 100;
  color: #424242;
  align-items: center;
  display: flex;
  cursor: default;
  padding: 2px 0px;
}

img {
  transition: all 300ms ease-out;
}

paper-progress {
  width: 100%;
}

.slider {
  width: 100%;
}

.dropdown {
  color: #424242;
  border-radius: 5px;
}

.question-sldr {
  font-weight: 300;
  font-size: 14px;
  color: #757575;
  padding-bottom: 5px;
}

.cr-name {
  width: 150px;
}
