.big-question-container {
  background: rgba(255,255,255,1);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 40px;
  width: 500px;
  min-height: 200px;
}

.big-question {
  font-size: 24px;
  font-weight: 100;
}

.big-question-title {
  font-size: 13px;
  font-weight: 500;
  align-self: flex-start;
  margin: 10px 0px;
}

.big-question-title span {
  font-size: 13px;
  font-weight: 500;
  align-self: flex-start;
  color: #717171;
}

.inner-question-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  transition: all 400ms ease-out;
}

.big-finish {
  display: none;
  height: 40px;
}

.big-send {
  height: 40px;
}

.big-question-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.big-question-buttons p {
  font-size: 12px;
  color: #A1A1A1;
  margin-top: 5px;
}

.question-control {
  width: 100%;
  margin-top: 25px;
  cursor: default;
}

.question-control .noUi-connect {
  background: #717171;
}
