.cr-element {
  width:  150px;
  height: 150px;
  background: #FBFBFB;
  position: relative;
}

.cityrow-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  cursor: default;
}

.cr-elements-container {
  display: flex;
  justify-content: space-around;
}

.cr-title {
  font-size: 20px;
  font-weight: 100;
  color: #424242;
  align-items: center;
  display: flex;
  justify-content: center;
  margin:  0px;
  padding: 0px;
}

.cr-header {
  width: 150px;
  height: 25px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: #424242;
  cursor: default;
  font-size: 15px;
  padding-top: 10px;
}

.cr-header span{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cityrow-header {
  display: flex;
  justify-content: space-around;
}

.crh-health {
  border-left:  1px solid #ff0000;
  border-right: 1px solid #ff0000;
  border-top:   1px solid #ff0000;
}

.crh-safety {
  border-left:  1px solid #fcaa2d;
  border-right: 1px solid #fcaa2d;
  border-top:   1px solid #fcaa2d;
}

.crh-traffic {
  border-left:  1px solid #525252;
  border-right: 1px solid #525252;
  border-top:   1px solid #525252;
}

.crh-polution {
  border-left:  1px solid #96b6c5;
  border-right: 1px solid #96b6c5;
  border-top:   1px solid #96b6c5;
}

.crh-lq {
  border-left:  1px solid #ececec;
  border-right: 1px solid #ececec;
  border-top:   1px solid #ececec;
}

img {
  transition: all 300ms ease-out;
}

svg {
  font-size: 9px;
}
