.cr-element {
  width:  150px;
  height: 150px;
  background: #FBFBFB;
  position: relative;
}

.cr-element2 span {
  font-size: 12px;
  text-align: right;
  color: #757575;
}

.cr-element2 {
  width: 150px;
  height: 80px;
  background: #FBFBFB;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cityrow-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  cursor: default;
}

.cr-elements-container {
  display: flex;
  justify-content: space-around;
}

.cr-title {
  font-size: 24px;
  font-weight: 100;
  color: #424242;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 10px;
}

.crh-health {
  border-left:  1px solid #ff0000;
  border-right: 1px solid #ff0000;
  border-top:   1px solid #ff0000;
}

.crh-safety {
  border-left:  1px solid #fcaa2d;
  border-right: 1px solid #fcaa2d;
  border-top:   1px solid #fcaa2d;
}

.crh-traffic {
  border-left:  1px solid #525252;
  border-right: 1px solid #525252;
  border-top:   1px solid #525252;
}

.crh-polution {
  border-left:  1px solid #96b6c5;
  border-right: 1px solid #96b6c5;
  border-top:   1px solid #96b6c5;
}

.crh-lq {
  border-left:  1px solid #ececec;
  border-right: 1px solid #ececec;
  border-top:   1px solid #ececec;
}

img {
  transition: all 300ms ease-out;
}

svg {
  font-size: 9px;
}

paper-progress {
  width: 100%;
}

.slider {
  width: 100%;
}
