.big-question-container {
  background: rgba(255,255,255,1);
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-direction: column;
  width: 600px;
  cursor: default;
}

/*** Question Colors start **/
.question-nav {
  font-size: 18px;
  font-weight: 100;
  color: #424242;
  border-bottom: 1px solid #ecf0f1;
}
.question-intro {
  font-size: 14px;
  font-weight: 500;
  align-self: flex-start;
  margin: 10px 0px;
  color: #424242;
}

.question-body {
  font-weight: 100;
  font-size: 18px;
  color: #9E9E9E;
}

.question-body b {
  font-weight: 300;
  color: #424242;
}
/*** Question Colors end **/

.question-buttons {
  display: flex;
  justify-content: flex-end;
}

.question-answers {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.big-question-title span {
  font-size: 13px;
  font-weight: 500;
  align-self: flex-start;
  color: #717171;
}

.inner-question-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  transition: all 400ms ease-out;
}

.big-finish {
  height: 40px;
}

.big-send {
  height: 40px;
}

.big-question-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.big-question-buttons p {
  font-size: 12px;
  color: #A1A1A1;
  margin-top: 5px;
}

.question-control {
  width: 100%;
  margin-top: 25px;
  cursor: default;
}

.question-control .noUi-connect {
  background: #717171;
}

.slider-tooltip {
  position: absolute;
  margin-top: 5px;
  font-size: 12px;
}
