.cr-element {
  width:  150px;
  height: 150px;
  background: #FBFBFB;
}

.cityrow-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  cursor: default;
}

.cr-elements-container {
  display: flex;
  justify-content: space-around;
}

.cr-title {
  font-size: 20px;
  font-weight: 100;
  color: #424242;
  align-items: center;
  display: flex;
  justify-content: center;
  margin:  0px;
  padding: 0px;
}

.cr-header {
  width: 150px;
  height: 25px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: #424242;
  cursor: default;
  font-size: 13px;
}

.cityrow-header {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  color: #fff;
  border-color: white !important;
  color: #424242 !important;
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
}

.dropdown:hover {
  color: #fff;
  border-color: white !important;
  color: #424242 !important;
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
}

.dropdown:active {
  color: #fff;
  border-color: white !important;
  color: #424242 !important;
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
}

.dropdown-menu li {
  position: relative;
}

.caret {
  margin-left: 10px;
}
