.navfilter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: default;
}

.navfilter-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 400;
  align-self: flex-start;
}

.navfilter-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 200px;
}

.nf-cbwrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navfilter-sub span {
  font-size: 10px;
  color: #757575;
  margin-bottom: 5px;
}

#slider {
  background: #B45C7E;
  width: 200px;
}

.slider {
  height: 10px;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  top: -6px;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}


paper-checkbox {
  font-weight: 100;
  font-size: 18px;
  margin: 12px 0px;
  align-self: flex-start;
}

.ui-slider {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.pips {
  font-size: 9px;
  display: flex;
  width: 105%;
  justify-content: space-between;
  padding-top: 3px;
  color: #A1A1A1;
  margin-left: -1px;
}

.pips span {
  font-size:   10px;
  text-align: right;
  display:     flex;
  color:    #a1a1a1;
  flex-direction:  column;
  justify-content: center;
  align-items:     center;
}

.pips span b {
  font-weight: bold;
  font-size:    3px;
}

.pips span:nth-child(even){color: #a5a5a5;}
.pips span:nth-child(odd) {color: #8b8b8b;}

.cr-name-h {display: none;}
.cr-name-s {display: none;}
.cr-name-t {display: none;}
.cr-name-p {display: none;}


.checkbox-container {
  display: flex;
  flex-direction: column;
  min-height: 45px;
  justify-content: space-around;
  transition: all 300ms ease-out;
  width: 100%;
  position: relative;
}

.quality-control {
  display: flex;
  width: 180px;
  justify-content: flex-start;
  margin-top: 10px;
}

.importance-value {
  color: #757575;
  position: absolute;
  right: 0;
  top: 12px;
  font-weight: 300;
  font-size: 16px;
  display: none;
}

.importance-value span {
  font-size: 10px;
  color: #a8a8a8;
}

.uncertainty-legend {
  width: 100px;
}

.uncertainty-legend-text {
  font-size: 10px;
  color: #A1A1A1;
  margin: 5px 0px;
}

.uncerainty-legend-title {
  font-weight: 300;
  margin: 5px 0px;
  color: #424242;
}

.ldot {
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
  opacity: 1;
  text-align: center;
  margin: 1px;
}
